<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div class="container">
        <h1>Car Dealership Database</h1>
        <ul class="nav-list">
            <li><a href="/designers">Designers</a></li>
            <li><a href="/suppliers">Suppliers</a></li>
            <li><a href="/employees">Employees</a></li>
            <li><a href="/production_lines">Production Lines</a></li>
            <tr><td><a href="/car_model">Car Model</a></td></tr>
            <tr><td><a href="/car_model">Car Design</a></td></tr>
            <tr><td><a href="/car_model">Customer</a></td></tr>
            <li><a href="/car_model">Manages</a></li>
            <tr><td><a href="/car_model">Orders</a></td></tr>
            <tr><td><a href="/car_model">Dealer</a></td></tr>
            <tr><td><a href="/car_model">Car Sale</a></td></tr>
            <tr><td><a href="/car_model">Shipment</a></td></tr>
            <tr><td><a href="/car_model">Warehouse</a></td></tr>
            <tr><td><a href="/car_model">Car Inventory</a></td></tr>
            <tr><td><a href="/car_model">Car Payment</a></td></tr>
            <tr><td><a href="/car_model">Feedback</a></td></tr>
            <tr><td><a href="/car_model">Test Drive</a></td></tr>
            <tr><td><a href="/car_model">Service Center</a></td></tr>
            <tr><td><a href="/car_model">Car Maintenance</a></td></tr>
            <tr><td><a href="/car_model">Service Detail</a></td></tr>
        </ul>
    </div>
</body>
</html>
